.register__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.form__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input__register,
.select__register,
.button__register {
  margin: 10px 0;
  padding: 10px;
  width: 100%; /* Cambiar a un ancho fijo */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Incluir el relleno y el borde en el ancho */
}



.button__register {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.button__register:hover {
  background-color: #45a049;
}
